@import "tailwindcss";

body {
  font-family: var(--font-geomanist-regular, Arial, Helvetica, sans-serif);
}

.geomanist-medium {
  font-family: var(--font-geomanist-medium, Arial, Helvetica, sans-serif);
}

.geomanist-book {
  font-family: var(--font-geomanist-book, Arial, Helvetica, sans-serif);
}

.geomanist-bold {
  font-family: var(--font-geomanist-bold, Arial, Helvetica, sans-serif);
}
